.add-project {
  width: 100%;
  height: 100%;
}
.nav-project {
  width: 100%;
  height: 73.6px;
  box-sizing: border-box;
  background: rgb(230, 235, 247);
  .nav {
    width: 1200px;
    height: 73.6px;
    margin: 0 auto;
    line-height: 73.6px;
    .tsspan {
      color: #80879b;
      font-size: 14px;
    }
    span {
      font-size: 14px;
    }
  }
}
.show-project {
  width: 1200px;
  margin: 0 auto 20px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  .baseinfo {
    width: 100%;
    background: #fff;
    border-radius: 2px;
    margin-bottom: 20px;
    .addProject_title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-left: 20px;
      padding-right: 20px;
      height: 70px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .top_left {
        display: flex;
        .icon {
          width: 3px;
          height: 18px;
          background: #679cf6;
          display: block;
          margin-right: 10px;
          line-height: 18px;
        }
        .top_left_title {
          display: block;
          font-size: 18px;
          font-weight: 550;
          color: #303849;
          line-height: 18px;
        }
      }
    }
    .top_right {
      color: #80879b;
      font-size: 16px;
    }
  }
  .con_detail {
    width: 100%;
    background: #fff;
    border-radius: 2px;
    .addProject_title_top {
      border-bottom: 1px solid rgba(178, 183, 198, 0.6);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-left: 20px;
      padding-right: 20px;
      height: 70px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .top_left {
        display: flex;
        .icon {
          width: 3px;
          height: 18px;
          background: #679cf6;
          display: block;
          margin-right: 10px;
          line-height: 18px;
        }
        .top_left_title {
          display: block;
          font-size: 18px;
          font-weight: 550;
          color: #303849;
          line-height: 18px;
        }
      }
    }
  }
  .info-detail {
    padding: 40px 33px;
    background: #fff;
    width: 1114px;
    height: 520.8px;
    .base_info {
      width: 1114px;
      height: 528.8px;
      .super-form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .info-left {
          width: 752px;
          height: 528.8px;
          .header-con {
            width: 752px;
            height: 58.8px;
            display: flex;
            .con-left {
              width: 226px;
              height: 36.8px;
              margin-bottom: 22px;
              > span:nth-child(1) {
                font-weight: 600;
                color: #606266;
                font-size: 14px;
                padding: 0 12px 0 0;
              }
              > span:nth-child(2) {
                font-size: 14px;
                font-family: SourceHanSansCN-Regular, SourceHanSansCN;
                font-weight: 400;
                color: #80879b;
              }
            }
            .con-right {
              width: 117.69px;
              height: 58.8px;
              > span:nth-child(1) {
                font-weight: 600;
                color: #606266;
                font-size: 14px;
                padding: 0 12px 0 0;
              }
              > span:nth-child(2) {
                font-size: 14px;
                font-family: SourceHanSansCN-Regular, SourceHanSansCN;
                font-weight: 400;
                color: #80879b;
              }
            }
          }
          .center-con {
            width: 752px;
            height: 294.4px;
            margin-bottom: 22px;
            .con {
              margin-left: 60px;
              width: calc(100% - 60px);
              height: 100%;
              font-size: 14px;
              font-family: SourceHanSansCN-Regular, SourceHanSansCN;
              font-weight: 400;
              color: #80879b;
              line-height: 35px;
            }
          }
          .major {
            width: 752px;
            height: 58.8px;
            display: flex;
            .m-con {
              width: 100px;
              height: 36px;
              > span:nth-child(1) {
                font-weight: 900;
                color: #606266;
                font-size: 14px;
                padding: 0 12px 0 0;
              }
              > span:nth-child(2) {
                font-size: 14px;
                font-family: SourceHanSansCN-Regular, SourceHanSansCN;
                font-weight: 400;
                color: #80879b;
              }
            }
            .trade {
              width: 100px;
              height: 36px;
              > span:nth-child(1) {
                font-weight: 900;
                color: #606266;
                font-size: 14px;
                padding: 0 12px 0 0;
              }
            }
          }
          .type {
            display: flex;
            width: 752px;
            height: 58.8px;
            .test-type {
              width: 156px;
              height: 36.8px;
              margin-bottom: 22px;
              > span:nth-child(1) {
                padding-right: 20px;
                font-weight: 900;
                color: #606266;
              }
              > span:nth-child(2) {
                color: #80879b;
              }
            }
            .all-time {
              margin-left: 20px;
              width: 132.212px;
              height: 58.8px;
              > span:nth-child(1) {
                > span:nth-child(1) {
                  color: #80879b;
                }
              }
            }
          }
          .skill {
            display: flex;
            .detail_s {
              width: 100px;
              height: 36px;
              font-weight: 900;
              color: #606266;
            }
            > span:nth-child(2) {
              color: rgb(178, 183, 198);
            }
          }
        }
        .info-right {
          width: 361px;
          height: 528.8px;
          .top_img {
            width: 362px;
            height: 167.6px;
            display: flex;
            justify-content: flex-end;
            span {
              font-weight: 900;
              color: #606266;
              margin-right: 22px;
            }
            img {
              width: 262px;
              height: 154px;
              color: 1px solid #ddd;
            }
          }
          .show_url {
            margin-left: 25px;
            width: 362px;
            height: 36px;
            line-height: 36px;
            > span:nth-child(1) {
              font-weight: 900;
              color: #606266;
              margin-right: 12px;
            }
            > span:nth-child(2) {
              color: #606266;
            }
          }
        }
      }
    }
  }
  .addProject_detail {
    width: 1180px;
    margin: 0 auto;
    height: 335.4px;
    background-color: #fff;
  }
  :deep(.el-tabs__nav-scroll) {
    height: 70.8px;
  }
  :deep(.el-tabs__item) {
    height: 70.8px;
    line-height: 70.8px;
    font-weight: 900;
    font-size: 18px !important;
    color: #303849 !important;
  }
  :deep(.el-tabs__nav) {
    margin-left: 30px;
  }
  :deep(.el-tabs__nav > .el-tabs__active-bar) {
    width: 34px !important;
    left: 21px !important;
    height: 4px !important;
    bottom: 0px !important;
    background-color: #1890ff;
  }
  #pane-first {
    width: 1114px;
    height: 198px;
    padding: 15px;
    display: flex;
    .training-program {
      width: 100%;
      height: 100%;
      display: flex;
      .left-con {
        width: 260px;
        height: 168px;
        .nav-list {
          width: 100%;
          height: 100%;
          background-color: rgb(240, 241, 244);
          li {
            text-align: left;
            height: 56px;
            line-height: 56px;
            padding-left: 20px;
          }
          .active {
            color: #1890ff;
          }
          :hover {
            background-color: rgb(192, 193, 195);
          }
        }
      }
      .right-con {
        flex: 1;
        margin-left: 15px;
        .content {
          height: 64.4px;
          text-align: center;
          color: #ccc;
          padding: 12px 15px;
        }
      }
    }
  }
  .trainning-task {
    width: 1114px;
    height: 200px;
    padding: 0 15px 0 15px;
    .background-image {
      display: flex;
      flex-direction: column;
      width: 575px;
      height: 110px;
      margin: 0 auto;
      padding: 30px 0px;
      img {
        width: 80px;
        height: 60px;
        margin: 0 auto;
      }
      .text-tips {
        margin-top: 25px;
        text-align: center;
        font-size: 14px;
        font-family: SourceHanSansCN-Regular, SourceHanSansCN;
        color: #a5a6a7;
      }
    }
  }
  :deep(.el-table .el-table__header-wrapper th,
  .el-table .el-table__fixed-header-wrapper th) {
    word-break: break-word;
    background-color: #f8f8f9;
    color: #515a6e;
    height: 40px;
    font-size: 13px;
  }
  :deep(.el-table__body-wrapper) {
    display: none;
  }
  .project-resources {
    width: 1180px;
    height: auto;
    padding: 20px;
    > div {
      margin-bottom: 15px;
      margin-left: 170px;
      span {
        text-align: left;
        vertical-align: middle;
        font-size: 14px;
        color: #606266;
        font-weight: 700;
      }
      i {
        font-style: normal;
        margin-left: 15px;
      }
    }
  }
  .training-develop {
    width: 1180px;
    height: 200px;
    padding: 10px 144px 20px 144px;
    display: flex;
    flex-direction: column;
    > span {
      margin-bottom: 22px;
      font-weight: 900;
      color: #606266;
      font-size: 14px;
    }
  }
  .ex-project {
    width: 1180px;
    height: 93.6px;
    padding-top: 30px;
    .text {
      width: 692px;
      height: 13.6px;
      margin: 0 auto;
      width: 100%;
      font-size: 12px;
      font-weight: 400;
      color: #b2b7c6;
      text-align: center;
    }
  }
}
