<template lang="">
  <Loading v-if="loading"></Loading>
  <div v-else class="projects">
    <div class="nav-project">
      <div class="nav">
        <span class="tsspan">项目/</span> &nbsp; <span>添加项目</span>
      </div>
    </div>
    <div class="show-project">
      <div class="baseinfo">
        <div class="addProject_title">
          <div class="top_left">
            <div class="icon"></div>
            <div class="top_left_title">添加项目</div>
          </div>
          <div class="top_right">
            <el-button
              style="border: 1px solid rgb(103, 156, 246); width: 110px"
              @click="goBack"
              >返回</el-button
            >
            <el-button
              type="primary"
              icon="el-icon-s-promotion"
              @click="tipsInfo"
              >提交审核</el-button
            >
          </div>
        </div>
      </div>
      <div class="con_detail" see="true">
        <div class="addProject_title_top">
          <div class="top_left">
            <div class="icon"></div>
            <div class="top_left_title">基本信息</div>
          </div>
          <div class="top-right">
            <img
              src="http://111.203.59.61:8060/static/img/save.a18f6aa4.svg"
              alt=""
            />
            <span>保存</span>
          </div>
        </div>
      </div>
      <div class="baseinfo_detail">
        <div class="base_info">
          <el-form class="form">
            <div class="form-left">
              <el-form
                :model="state.ruleForm"
                :rules="state.rules"
                ref="ruleForm"
                label-width="100px"
              >
                <div class="row-1">
                  <el-form-item
                    label="项目名称"
                    style="font-weight: 900"
                    prop="name"
                  >
                    <el-input
                      style="width: 390px; height: 36px"
                      v-model="state.ruleForm.name"
                      placeholder="请输入项目名称"
                    ></el-input>
                  </el-form-item>
                  <el-form-item
                    id="tsForm"
                    label="版本"
                    style="font-weight: 900"
                    prop="version"
                  >
                    <span style="font-weight: 100; margin-right: 10px">V</span>
                    <el-input
                      v-model="state.ruleForm.version"
                      style="width: 90px; height: 36px"
                    ></el-input>
                  </el-form-item>
                </div>
                <el-form-item prop="desc">
                  <el-input
                    type="textarea"
                    v-model="state.ruleForm.desc"
                    placeholder="请输入项目简介"
                    style="width: 650px; height: 53.6px"
                  ></el-input>
                </el-form-item>
                <div class="row-2">
                  <el-form-item>
                    <el-form-item
                      label="专业"
                      style="font-weight: 900"
                      prop="major"
                    >
                      <el-select
                        v-model="state.ruleForm.major"
                        placeholder="请选择"
                      >
                        <el-option
                          :label="item.label"
                          :value="item.id"
                          v-for="item in tradeList.list"
                          :key="item.id"
                        >
                          {{ item.label }}
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </el-form-item>
                  <el-form-item>
                    <el-form-item
                      label="行业"
                      style="font-weight: 900"
                      prop="trade"
                    >
                      <el-select
                        v-model="state.ruleForm.trade"
                        placeholder="请选择"
                      >
                        <el-option
                          :label="item.label"
                          :value="item.id"
                          v-for="item in hyList.list"
                          :key="item.id"
                          >{{ item.label }}</el-option
                        >
                      </el-select>
                    </el-form-item>
                  </el-form-item>
                </div>
                <div class="row-3">
                  <el-form-item
                    label="实训类型"
                    style="font-weight: 900"
                    prop="trainingType"
                  >
                    <el-select
                      v-model="state.ruleForm.trainingType"
                      placeholder="请选择实训类型"
                    >
                      <el-option
                        :label="item.text"
                        v-for="item in trainingtypeList"
                        :key="item.id"
                        :value="item.id"
                        >{{ item.text }}</el-option
                      >
                    </el-select>
                  </el-form-item>
                  <el-form-item
                    label="预期总工时"
                    style="font-weight: 900"
                    prop="alltime"
                  >
                    <el-input-number
                      style="width: 120px"
                      v-model="alltime"
                      controls-position="right"
                      @change="handleChange"
                      :min="1"
                      :max="10"
                    ></el-input-number>
                    天</el-form-item
                  >
                </div>
                <div class="skills">
                  <span>技能点</span>
                  <span>技能点由任务知识点内容生成</span>
                </div>
              </el-form>
            </div>
            <div class="form-right">
              <div class="upload-img">
                <span style="color: #606266"
                  ><i
                    style="
                      color: rgba(245, 108, 108);
                      margin-right: 10px;
                      font-style: normal;
                    "
                    >*</i
                  >封面</span
                >
                <div class="img" @click="toggleShow">
                  <img
                    :src="avatar"
                    alt=""
                    style="width: 262px; height: 156px"
                  />
                  <div v-if="avatar"></div>
                  <div v-else>
                    <span>+</span>
                    <span>上传图片</span>
                  </div>
                </div>
              </div>
              <el-form
                :model="state.ruleForm"
                :rules="state.rules"
                ref="ruleForm"
                label-width="100px"
              >
                <el-form-item
                  label="演示地址"
                  style="font-weight: 900"
                  prop="showUrl"
                >
                  <el-input
                    type="text"
                    v-model="state.ruleForm.showUrl"
                    placeholder="请输入演示地址"
                  />
                </el-form-item>
              </el-form>
            </div>
          </el-form>
        </div>
      </div>
      <div class="bottom">
        <el-tabs v-model="activeName">
          <el-tab-pane disabled label="实训大纲" name="first"
            >用户管理</el-tab-pane
          >
          <el-tab-pane disabled label="实训任务" name="second"
            >配置管理</el-tab-pane
          >
          <el-tab-pane disabled label="项目资源" name="third"
            >角色管理</el-tab-pane
          >
          <el-tab-pane disabled label="实训环境" name="fourth"
            >定时任务补偿</el-tab-pane
          >
          <el-tab-pane disabled label="前置项目" name="third"
            >角色管理</el-tab-pane
          >
        </el-tabs>
        <div class="background-image">
          <img
            src="http://111.203.59.61:8060/static/img/Lock.0318bb9d.svg"
            alt=""
          />
          <div class="text-tips">
            完善项目的基本信息并点击“保存草稿”才可解锁实训项目内容
          </div>
        </div>
      </div>
    </div>

    <my-upload
      field="img"
      @crop-success="cropSuccess"
      v-model="show"
      :width="400"
      :height="200"
      img-format="jpg"
      :size="size"
    ></my-upload>
  </div>
</template>
<script>
//引入图片裁剪插件
import "babel-polyfill";
import Loading from "@/components/Loading.vue";
import myUpload from "vue-image-crop-upload";
import { ElMessage } from "element-plus";
import { reactive, toRefs, ref, onMounted } from "vue";
import api from "@/api";
import { useRouter } from "vue-router";
export default {
  components: {
    Loading,
    "my-upload": myUpload,
  },
  setup() {
    const router = useRouter();
    const { xiangmu } = api;
    const goBack = () => {
      router.go(-1);
    };
    const dialogVisible = ref(false);
    const tipsInfo = () => {
      if (
        !state.ruleForm.name ||
        !state.ruleForm.major ||
        !state.ruleForm.trade ||
        !state.ruleForm.trainingType ||
        !state.ruleForm.desc ||
        !state.ruleForm.version ||
        !state.ruleForm.showUrl
      ) {
        //友好提示信息!
        ElMessage.error({
          message: "基本信息未填写完整!",
        });
      } else {
        alert("成功!");
      }
    };
    const toggleShow = () => {
      show.value = !show.value;
    };
    const tradeList = reactive({
      list: [],
    });
    const hyList = reactive({
      list: [],
    });
    //上传按钮的onchange事件
    const handleChage = (e) => {
      console.log("====================================");
      console.log(e);
      console.log("====================================");
    };
    const trainingtypeList = [
      {
        id: 1,
        text: "生产实训",
      },
      {
        id: 2,
        text: "教学实训",
      },
      {
        id: 3,
        text: "专业群实训",
      },
    ];

    const getMajorList = () => {
      xiangmu.getMajorStationList({}).then((res) => {
        console.log(res, "Res");
        if (res.code === 200) {
          lod.loading = false;
          tradeList.list = res.data;
        }
      });
    };

    const getHyList = () => {
      xiangmu.getTradeList({}).then((res) => {
        console.log("====================================");
        console.log(res, "res");
        console.log("====================================");
        if (res.code === 200) {
          lod.loading = false;
          hyList.list = res.data;
        }
      });
    };
    const avatar = ref("");
    const show = ref(false);
    const size = ref(2.1);
    const getInitData = () => {
      getMajorList();
      getHyList();
    };
    const state = reactive({
      ruleForm: {
        name: "",
        major: "",
        trade: "",
        delivery: false,
        trainingType: "",
        desc: "",
        showUrl: "",
        version: "1",
      },
      rules: {
        name: [{ required: true, message: "请输入项目名称", trigger: "blur" }],
        version: [{ required: true, message: "请输入版本号", trigger: "blur" }],
        major: [{ required: true, message: "请选择专业", trigger: "blur" }],
        trade: [{ required: true, message: "请选择行业", trigger: "blur" }],
        trainingType: [
          { required: true, message: "请选择实训类型", trigger: "blur" },
        ],
        desc: [{ required: true, message: "请填写项目简介", trigger: "blur" }],
        showUrl: [
          { required: true, message: "请输入演示地址", trigger: "blur" },
        ],
      },
    });

    const cropSuccess = (imgDataUrl) => {
      avatar.value = imgDataUrl;
      console.log(imgDataUrl);
    };

    const alltime = ref(1);
    toRefs(state);
    const lod = reactive({
      loading: true,
    });
    const handleChange = (value) => {
      console.log(value);
    };
    onMounted(() => {
      getInitData();
    });
    return {
      ...toRefs(lod),
      cropSuccess,
      toggleShow,
      avatar,
      show,
      size,
      dialogVisible,
      goBack,
      state,
      alltime,
      handleChange,
      tipsInfo,
      trainingtypeList,
      tradeList,
      hyList,
      handleChage,
    };
  },
};
</script>
<style lang="scss" scoped>
@import "./addprojects.scss";
</style>
