#myCenterBox{
    width: 100%;
    height: 450px;
    background-color: #f4f4f7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conBox{
    width: 1190px;
    height: 420px;
    display: flex;
    justify-content: space-between;
}
.conBox_left{
    width: 280px;
    height: 350px;
    background-color: #fff;
}
.left_title{
    width: 100%;
    height: 39px;
    border-bottom: 1px solid #ccc;
    line-height: 39px;
}
.left_title span{
    margin-left: 15px;
}
.left_img{
    width: 100%;
    height: 164px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgBox{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.imgBox img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.leftUl{
    width: 100%;
    height: 109px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.leftUl li{
    width: 240px;
    height: 38px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.conBox_right{
    width: 880px;
    height: 420px;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.right_title{
    width: 100%;
    height: 39px;
    border-bottom: 1px solid #ccc;
    line-height: 39px;
}
.right_title span{
    margin-left: 15px;
}
.right_con{
    width: 840px;
    height: 380px;
}
.tab_title{
    width: 100%;
    height: 48px;
    border-bottom: 2px solid #ccc;
    margin-left: 20px;
}
.spanBox{
    width: 150px;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}
.spanBox div{
    height: 51px;
    line-height: 51px;
}
.spanBox span{
    cursor: pointer;
}
.active{
    color: #1890ff;
    border-bottom: 2px solid #1890ff;
}
.fromTable{
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.table_left{
    width: 70px;
    height: 280px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
.table_left span{
    margin-top: 30px;
}
.table_right{
    width: 760px;
    height: 280px;
}
.table_right .el-input{
    width: 750px;
    height: 35px;
    margin-top: 20px;
}
.radioBox{
    width: 100px;
    height: 30px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnBox{
    width: 120px;
    height: 35px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.saveBtn{
    width: 55px;
    height: 30px;
    background-color: #46a6ff;
    color: #fff;
    border-radius: 3px;
}
.closeBtn{
    width: 55px;
    height: 30px;
    background-color: #ff4949;
    color: #fff;
    border-radius: 3px;
}
.fromBox{
    width: 100%;
    height: 270px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}
.fromLeft{
    width: 70px;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
.fromLeft span{
    margin-top: 30px;
}
.fromRight{
    width: 760px;
    height: 100%;
}
.fromRight .el-input{
    width: 750px;
    height: 35px;
    margin-top: 20px;
}