<template>
  <!-- 面包屑组件 -->
  <el-breadcrumb separator="/" class="nav">
    <el-breadcrumb-item
      v-for="(item, index) in data"
      :key="index"
      :to="{ path: '/' }"
    >
      <a :href="item.path"> {{ item.name }}</a>
    </el-breadcrumb-item>
  </el-breadcrumb>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
    },
  },
};
</script>

<style lang="scss">
.nav {
  width: 100%;
  height: 73px;
  display: flex;
  align-items: center;
  background: rgba(103, 156, 246, 0.1);
  padding: 30px;
  padding-left: 11rem;
}
</style>
