<template>
  <div>
    <el-table
      :data="tableData"
      style="width: 100%"
      class="text-xs"
      align="left"
      :row-class-name="tableRowClassName"
    >
      <el-table-column
        :prop="tableDataLength"
        label="排名"
        width="240"
        align="center"
      >
        <template #default="scope">
          <el-tooltip class="item" effect="dark">
            {{ scope.$index + 1 }}
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column
        prop="commitName"
        label="提交人"
        width="240"
        align="center"
      >
      </el-table-column>
      <el-table-column
        prop="count"
        label="面试记录提交次数"
        width="175"
        align="center"
      >
      </el-table-column>
      <el-table-column prop="className" label="班级" width="240" align="center">
      </el-table-column>
      <el-table-column prop="majorName" label="专业" width="240" align="center">
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { useRouter } from "vue-router";
export default {
  name: "TableRender",
  props: ["tableData"],

  setup() {
    const router = useRouter();
    const methods = {
      tableRowClassName: () => {
        return "warning-row";
      },
      viewDetails: (row) => {
        router.push("/teachers/interviewDetail/" + row.interviewId);
        // http://111.203.59.61:8060/dev-api/sypt/interview/info/8074869468612239360
      },
    };
    return {
      ...methods,
    };
  },
};
</script>

<style>
.el-table {
  font-size: 12px;
}
.el-table .warning-row:nth-child(odd) {
  background: rgb(245, 245, 245);
}
</style>
