<template>
  <div>
    <el-table
      :data="tableData"
      style="width: 100%"
      class="text-xs shadow-sm"
      align="center"
      :row-class-name="tableRowClassName"
    >
      <el-table-column
        prop="stationName"
        label="岗位名称"
        width="105"
        align="center"
      >
      </el-table-column>
      <el-table-column
        prop="companyName"
        label="公司名称"
        width="85"
        align="center"
      >
      </el-table-column>
      <el-table-column
        prop="interviewTime"
        label="面试时间"
        width="145"
        align="center"
      >
      </el-table-column>
      <el-table-column
        prop="intervierManagement"
        label="面试官"
        width="105"
        align="center"
      >
      </el-table-column>
      <el-table-column prop="majorName" label="专业" width="145" align="center">
      </el-table-column>
      <el-table-column
        prop="commitName"
        label="提交人"
        width="100"
        align="center"
      >
      </el-table-column>
      <el-table-column
        prop="status"
        label="面试结果"
        width="115"
        align="center"
      >
      </el-table-column>
      <el-table-column
        prop="issoundrecord"
        label="录音文件"
        width="70"
        align="center"
        class=""
      >
      </el-table-column>
      <el-table-column prop="shield" label="屏蔽" width="115" align="center">
      </el-table-column>
      <el-table-column
        prop="issoundrecord"
        label="操作"
        width="145"
        align="center"
      >
        <template #default="scope">
          <el-tooltip
            class="item"
            effect="dark"
            content="修改"
            placement="bottom"
          >
            <i
              class="el-icon-share text-blue-300 text-lg pl-"
              @click="handleEdit(scope.$index, scope.row)"
            ></i>
          </el-tooltip>
          <el-tooltip
            class="item"
            effect="dark"
            content="删除"
            placement="bottom"
          >
            <i
              class="el-icon-delete text-blue-300 text-lg"
              @click="handleDelete(scope.$index, scope.row)"
            ></i>
          </el-tooltip>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  name: "TableRender",
  props: ["tableData"],

  setup(proxy, { emit }) {
    const methods = {
      tableRowClassName: () => {
        return "warning-row";
      },
      handleEdit: (index, row) => {
        emit("modifyId", row.interviewId);
      },
      handleDelete: (index, row) => {
        emit("deleteId", row.interviewId);
      },
    };
    return {
      ...methods,
    };
  },
};
</script>

<style>
.el-table {
  font-size: 12px;
}
.el-table .warning-row:nth-child(odd) {
  background: rgb(245, 245, 245);
}
i {
  cursor: pointer;
  padding: 0 0.625rem 0 0.625rem;
}
</style>
