<template>
  <Loading v-if="loading"></Loading>
  <div class="detail" v-else>
    <div class="head-nav">
      <span>项目库 / </span>
    </div>
    <div class="Detail">
      <div class="details">
        <div class="detail-left">
          <div class="project_detail">
            <div class="nums">
              <span>人学过</span>
              <span>人关注</span>
              <span>作者:</span>
            </div>
          </div>
          <div class="comment_tab">
            <div class="comment_nav">
              <el-tabs v-model="activeName" @tab-click="handleClick">
                <el-tab-pane label="实训大纲" name="first">
                  <div id="pane-first">
                    <div class="training-program">
                      <div class="left-con">
                        <ul class="nav-list">
                          <li
                            v-for="(item, index) in navList.list"
                            @click="changeIndex(index)"
                            :key="item.id"
                            :class="cIndex.current === index ? 'active' : ''"
                          >
                            {{ item.label }}
                          </li>
                        </ul>
                      </div>
                      <div class="right-con">暂无内容</div>
                    </div>
                  </div>
                </el-tab-pane>
                <el-tab-pane label="实训任务" name="second">
                  <div class="trainning-task">
                    <el-table :data="tableData" stripe style="width: 100%">
                      <el-table-column prop="name" label="任务名称" width="200">
                      </el-table-column>
                      <el-table-column prop="name" label="考核标准" width="200">
                      </el-table-column>
                      <el-table-column prop="name" label="保薪技能" width="200">
                      </el-table-column>
                      <el-table-column prop="name" label="提薪技能" width="200">
                      </el-table-column>
                    </el-table>
                  </div>
                </el-tab-pane>
                <el-tab-pane label="项目资源" name="third">
                  <div class="text">
                    <span>资源名称</span>
                    <span>资源类型</span>
                    <span>提交文件</span>
                    <span>描述</span>
                    <span>教师</span>
                    <span>学生</span>
                  </div>
                </el-tab-pane>
                <el-tab-pane label="实训环境" name="fourth"> </el-tab-pane>
                <el-tab-pane label="前置项目" name="five">
                  <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    v-model:currentPage="currentPage3"
                    :page-size="12"
                    layout="prev, pager, next, jumper"
                    :total="0"
                  >
                  </el-pagination>
                </el-tab-pane>
              </el-tabs>
            </div>
          </div>
          <div class="comment-list">
            <div class="comment-con">
              <el-tabs v-model="activeNames" @tab-click="handleClick">
                <el-tab-pane label="实训评论" name="first">
                  <div class="comment_area">
                    <img
                      class="person_avator"
                      src="http://111.203.59.61:8060/file_service/group1/M00/00/1B/rBsCHGC8sMqAB2cDAAC8MQ3506s51.jpeg"
                    />
                    <div class="comment_div">
                      <textarea
                        cols="30"
                        rows="10"
                        maxlength="880"
                        placeholder="来说两句吧"
                        v-model="data.discussDesc"
                      ></textarea>
                      <div>
                        <span class="publish_btn" @click="add">发表评论</span>
                      </div>
                    </div>
                  </div>
                  <div
                    class="item-comment"
                    v-for="item in commentList.list"
                    :key="item.id"
                  >
                    <div class="line"></div>
                    <div class="comment_list">
                      <div class="person_avator">
                        <img
                          src="http://111.203.59.61:8060/file_service/group1/M00/00/1B/rBsCHGC8sMqAB2cDAAC8MQ3506s51.jpeg"
                          alt=""
                        />
                      </div>
                      <div class="comment_detail">
                        <div class="comment_name">{{ item.disReplyid }}</div>
                        <div class="comment_text">
                          {{ item.disReplycontent }}
                        </div>
                        <div class="comment_time">{{ item.replyTime }}</div>
                      </div>
                      <div class="comment_right"></div>
                    </div>
                  </div>
                  <div class="finish_button">
                    <el-pagination
                      @size-change="handleSizeChange"
                      @current-change="handleCurrentChange"
                      :page-size="10"
                      layout="prev, pager, next, jumper"
                      :total="total.num"
                    >
                    </el-pagination>
                  </div>
                </el-tab-pane>
                <el-tab-pane label="实训问答" name="second"></el-tab-pane>
              </el-tabs>
            </div>
          </div>
        </div>
        <div class="detail-right">
          <div class="imgs">
            <img
              src="dev-api/profile/upload/sxpt/project/8060406674292178944/21474836463/blob"
              alt=""
            />
          </div>
          <div class="teacher_info">
            <div class="top_info">
              <span></span>
              <span>指导老师</span>
            </div>
            <div class="info">
              <div class="teacher-img">
                <img :src="imgUrl.url" alt="" />
              </div>
              <div class="teacher-name">
                {{ teacherName.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { useRoute } from "vue-router";
import Loading from "@/components/Loading.vue";
import { ref, reactive, onMounted, toRefs } from "vue";
import api from "@/api";
export default {
  components: {
    Loading,
  },
  setup() {
    const state = reactive({
      loading: true,
    });
    const add = () => {
      console.log(data.discussDesc);
      let discussDesc = data.discussDesc;
      xiangmu
        .addComment({
          discussDesc,
          proId: route.query.id,
        })
        .then((res) => {
          console.log(res);
          if (res.code === 200) {
            data.discussDesc = "";
            handleCurrentChange(1);
          }
        });
    };
    const teacherName = reactive({
      name: "",
    });
    const imgUrl = reactive({
      url: "http://111.203.59.61:8060/file_service/group1/M00/00/15/rBsCHWCGDsaAQ0_6AAAg_nU6LF407.jpeg",
    });
    const route = useRoute();
    const taskList = reactive({
      list: [],
    });
    const pageNum = reactive({
      pageNum: 1,
    });
    const handleSizeChange = (val) => {
      console.log(`每页 ${val} 条`);
    };
    const handleCurrentChange = (val) => {
      xiangmu
        .getCommentList({
          pageNum: val,
          pageSize: 10,
          id: route.query.id,
        })
        .then((res) => {
          console.log(res, "list");
          if (res.code === 200) {
            state.loading = false;
            commentList.list = res.rows;
            console.log(commentList.list, "----");
          }
        });
    };
    const commentList = reactive({
      list: [],
    });
    const cIndex = reactive({
      current: 0,
    });
    const { xiangmu } = api;
    let navList = reactive({
      list: [],
    });
    const getAllList = reactive({
      list: [],
    });
    const data = reactive({
      discussDesc: "",
    });
    const detailObj = reactive({
      list: [],
    });
    const activeName = ref("first");
    const activeNames = ref("first");
    const handleClick = (tab) => {
      console.log(tab.index);
      if (tab.index == 1) {
        xiangmu.selectTaskLists({}).then((res) => {
          console.log(res, "Res");
          if (res.code == 200) {
            state.loading = false;

            taskList.list = res.data;
          }
        });
      } else if (tab.index == 2) {
        xiangmu.selectResourceTree({}).then((res) => {
          console.log(res, "res");
        });
      } else if (tab.index == 3) {
        xiangmu.selectTaskList({}).then((res) => {
          console.log(res, "Ress");
        });
      } else if (tab.index == 4) {
        xiangmu
          .selectProject({
            pageNum: 1,
            pageSize: 12,
            projectVersionId: route.query.versionId,
          })
          .then((res) => {
            console.log(res, "list");
            if (res.code === 200) {
              state.loading = false;

              commentList.list = res.rows;
              console.log(commentList.list, "----");
            }
          });
      }
    };
    const getList = () => {
      xiangmu.projectList({}).then((res) => {
        console.log(res);
        if (res.code == 200) {
          state.loading = false;

          getAllList.list = res.rows;
        }
      });
    };
    const getNav = () => {
      xiangmu.selectBriefTree({}).then((res) => {
        console.log(res, "res");
        if (res.code === 200) {
          state.loading = false;

          navList.list = res.data.data;
        }
      });
    };
    const detailList = () => {
      detailObj.list = getAllList.list.filter(
        (item) => item.id == route.query.id
      );
    };
    const getTeacher = () => {
      xiangmu.teacherInfo({}).then((res) => {
        console.log(res);
        if (res.code == 200) {
          state.loading = false;
          teacherName.name = res.data.authorName;
        }
      });
    };
    const changeIndex = (ind) => {
      console.log(ind);
    };

    const getComment = () => {
      xiangmu
        .getCommentList({
          pageNum: pageNum.pageNum,
          pageSize: 10,
          id: route.query.id,
        })
        .then((res) => {
          console.log(res, "list");
          commentList.list = res.rows;
          total.num = res.total;
          console.log(commentList.list, "----");
        });
    };
    const total = reactive({
      num: "",
    });

    const getInit = () => {
      getNav();
      getList();
      detailList();
      getTeacher();
      getComment();
    };
    onMounted(() => {
      getInit();
    });
    return {
      ...toRefs(state),
      add,
      data,
      total,
      pageNum,
      imgUrl,
      taskList,
      navList,
      handleClick,
      activeName,
      changeIndex,
      getInit,
      cIndex,
      getAllList,
      detailObj,
      detailList,
      teacherName,
      activeNames,
      commentList,
      handleSizeChange,
      handleCurrentChange,
    };
  },
};
</script>
<style lang="scss" scoped>
@import "./projectDetail.scss";
</style>
