<template>
  <div class="addIr">
    <div class="content">
      <div class="mianbaoxie">
        <breadcrumb :data="breadcrumb" />
      </div>
      <div class="forms shadow-lg">
        <div class="topTitle flex justify-between">
          <div>
            <span class="text-blue-700 font-black pl-10"> | </span
            ><span>查看面试记录</span>
          </div>
          <div class="goBack mr-10">
            <el-button type="primary" plain @click="goBack">返回</el-button>
          </div>
        </div>
        <div class="inputs">
          <div class="top">
            <div class="mt-3">
              <div class="justify-center items-center">
                <span class="inline-block mr-2 font-semibold text-gray-500"
                  >岗位名称:</span
                >
                <div class="borderdiv flex items-center text-sm">
                  <span>{{ data.stationName }}</span>
                </div>
              </div>
              <div class="justify-self-end items-center">
                <span class="inline-block mr-2 font-semibold text-gray-500"
                  >公司名称:</span
                >
                <div class="borderdiv flex items-center text-sm">
                  <span>{{ data.companyName }}</span>
                </div>
              </div>
            </div>
            <div class="mt-1">
              <div class="justify-center items-center">
                <span class="inline-block mr-2 font-semibold text-gray-500"
                  >面试时间:</span
                >
                <div class="borderdiv flex items-center text-sm">
                  <span>{{ data.interviewTime }}</span>
                </div>
              </div>
              <div class="justify-self-end items-center">
                <span class="inline-block w-16 mr-2 font-semibold text-gray-500"
                  >时长:</span
                >
                <div class="borderdiv flex items-center text-sm">
                  <span>{{ data.duration }}</span>
                </div>
              </div>
            </div>
            <div class="mt-1">
              <div class="justify-center items-center">
                <span class="inline-block mr-2 font-semibold text-gray-500"
                  >地点:
                </span>
                <div class="borderdiv flex items-center text-sm">
                  <span>{{ data.site }}</span>
                </div>
              </div>
              <div class="justify-self-end items-center">
                <span class="inline-block mr-2 font-semibold text-gray-500"
                  >面试官:</span
                >
                <div class="borderdiv flex items-center text-sm">
                  <span>{{ data.intervierManagement }}</span>
                </div>
              </div>
            </div>
            <div class="mt-1">
              <div class="justify-center items-center">
                <span class="inline-block mr-2 font-semibold text-gray-500"
                  >专业:
                </span>
                <div class="borderdiv flex items-center text-sm">
                  <span>{{ data.majorName }}</span>
                </div>
              </div>
              <div class="justify-self-end items-center">
                <span class="inline-block mr-2 font-semibold text-gray-500"
                  >提交人:</span
                >
                <div class="borderdiv flex items-center text-sm">
                  <span>{{ data.commitName }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="center flex justify-center mt-4">
            <span class="inline-block mr-2 font-semibold text-gray-500"
              >记录吐槽:</span
            >
            <div class="borderdiv flex items-center text-sm">
              <span>{{ data.record }}</span>
            </div>
          </div>
          <div class="center flex justify-center mt-10">
            <span class="inline-block mr-2 font-semibold text-gray-500"
              >面试结果:</span
            >
            <div class="borderdiv flex items-center text-sm">
              <!-- <span>{{ data.status ? "未通过" : "通过" }}</span> -->
              <span>{{ data.status }}</span>
            </div>
          </div>
          <div class="center flex justify-center mt-10">
            <span class="inline-block mr-2 font-semibold text-gray-500"
              >录音文件:</span
            >
            <div class="borderdiv flex items-center text-sm">
              <!-- <span>{{ data.issoundrecord ? "有" : "无" }}</span> -->
              <span>{{ data.issoundrecord }}</span>
            </div>
          </div>
          <div class="center flex justify-center mt-10">
            <span class="inline-block mr-2 font-semibold text-gray-500"
              >面试问题:</span
            >
            <div class="borderdiv flex items-center text-xs text-gray-400">
              <span>
                请如实填写面试问题和答案，面试中没有作答的题目可略过答案填写，直接输入问题即可.</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs } from "vue";
import Axios from "../../utils/httptool";
import { useRouter } from "vue-router";
export default {
  setup() {
    const router = useRouter();
    console.log(router.currentRoute.value.params.id);
    const state = reactive({
      breadcrumb: [
        { path: "/", name: "面试" },
        { path: "/teachers/interviewRecord", name: "面试记录" },
      ],
      data: {},
    });
    Axios.get(
      `http://111.203.59.61:8060/dev-api/sypt/interview/info/${router.currentRoute.value.params.id}`
    ).then((res) => {
      state.data = res.data;
      console.log(state.data);
    });
    const methods = {
      goBack: () => {
        router.push("/teachers/interviewList");
      },
    };
    return {
      ...toRefs(state),
      ...methods,
    };
  },
};
</script>

<style lang="scss" scoped>
.addIr {
  width: 100%;
  height: 100%;
  .content {
    width: 100%;
    height: 100%;
    .mianbaoxie {
      width: 100%;
      height: auto;
    }
    .forms {
      width: 70%;
      height: 800px;
      margin: 0 auto;
      background: #fff;

      .topTitle {
        width: 100%;
        height: 4.375rem;
        line-height: 4.375rem;
        font-weight: 600;
        font-size: 1.25rem;
        border-bottom: 1px solid #ccc;
      }
      .inputs {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        .top {
          width: 100%;
          > div {
            width: 100%;
            height: 3.75rem;
            display: flex;
            > div {
              width: 50%;
              height: 100%;
              display: flex;
              > .borderdiv {
                width: 14rem;
                height: 60%;
                border-radius: 0.125rem;

                input {
                  width: 100%;
                  height: 100%;
                  outline: none;
                  font-size: 0.8rem;
                  color: #ccc;
                  padding-left: 0.5rem;
                }
              }
            }
          }
        }
        .center {
          width: 100%;
          > div {
            width: 78%;
          }
        }
      }
    }
  }
}
</style>
