<template>
  <div class="content w-full h-full">
    <breadcrumb :data="breadcrumb" />
    <div class="w-full h-full">
      <div class="loading" v-if="!navTitle.length">
        <img src="../../assets/img/loading.gif" alt="" />
      </div>
      <div v-else>
        <div class="w-9/12 h-full m0 m-auto">
          <div class="xtopNav w-full h-full bg-white mt-10 flex justify-center">
            <div class="cont w-11/12 h-full overflow-hidden relative">
              <div class="top w-full h-16">
                <div
                  class="
                    w-3/6
                    h-16
                    flex
                    items-center
                    absolute
                    right-0
                    justify-end
                  "
                >
                  <div class="searchs w-52 border h-3/5 flex">
                    <div class="leftInput w-4/5 h-full">
                      <input
                        type="text"
                        class="
                          outline-none
                          w-full
                          h-full
                          text-gray-400 text-sm
                          pl-2
                        "
                        v-model="searchTitle"
                        placeholder="搜索岗位名称"
                      />
                    </div>
                    <div
                      class="
                        rightButton
                        w-1/5
                        h-full
                        flex
                        justify-center
                        items-center
                      "
                      @click="goSearch"
                    >
                      <i class="el-icon-search text-gray-300"></i>
                    </div>
                  </div>
                  <div class="button w-40 ml-11">
                    <el-button type="primary" @click="goAddIr"
                      >+添加面试记录</el-button
                    >
                  </div>
                </div>
              </div>
              <div class="bottomTable w-full h-auto mt-4">
                <TableRenderManage
                  :tableData="tableData"
                  :tableDataLength="tableDataLength"
                  @modifyId="modifyId"
                  @deleteId="deleteId"
                />
                <el-pagination
                  layout="prev, pager, next, jumper"
                  :total="total"
                  :page-size="pageSize"
                  :current-page="pageNum"
                  @current-change="changeCur"
                >
                </el-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Axios from "../../utils/httptool";
import _ from "lodash";
import TableRenderManage from "../../components/TableRenderManage.vue";
import { ElMessage } from "element-plus";
import { reactive, toRefs } from "vue";
import { useRouter } from "vue-router";
import api from "../../api/index";
const { interview } = api;
export default {
  name: "Inter",
  components: {
    TableRenderManage,
  },
  setup() {
    const router = useRouter();
    const createData = function () {
      interview.interview().then((res) => {
        state.navTitle = res.data;
      });
    };
    const changeTableStatusAndIssoundrecord = function (res) {
      res.rows.map((item) => {
        return item.status ? (item.status = "通过") : (item.status = "不确定");
      });
      res.rows.map((item) => {
        return item.issoundrecord
          ? (item.issoundrecord = "有")
          : (item.issoundrecord = "无");
      });
      res.rows.map((item) => {
        return item.shield ? (item.shield = "被屏蔽") : (item.shield = "正常");
      });
      state.total = res.total;
      state.tableDataLength = res.rows.length;
      state.tableData = res.rows;
    };
    const listAll = function () {
      interview
        .interList2({
          majorld: state.majorld,
          searchTitle: state.searchTitle,
          status: state.status,
          pageNum: state.pageNum,
          pageSize: state.pageSize,
        })
        .then((res) => {
          changeTableStatusAndIssoundrecord(res);
        });
    };
    createData();
    const state = reactive({
      navTitle: [],
      pageNum: 1,
      pageSize: 10,
      status: "",
      searchTitle: "",
      majorld: "",
      tableData: [],
      isSearch: "",
      shield: "",
      tableDataLength: "",
      id: "",
      breadcrumb: [
        { path: "/", name: "面试" },
        { path: "/teachers/interviewList", name: "面试记录" },
      ],
    });
    const createTableData = function () {
      listAll();
    };
    const deleteSccf = function () {
      ElMessage.success({
        message: "删除成功",
        type: "success",
      });
    };
    const methods = {
      items: (items) => {
        //通过子组件传过来的参数
        let { item } = items;
        state.majorld = item.id;
        Axios.get(
          `http://111.203.59.61:8060/dev-api/sypt/interview/interviewList?majorId=${state.majorld}&searchTitle=${state.searchTitle}&status=${state.status}&pageNum=${state.pageNum}&pageSize=${state.pageSize}`
        ).then((res) => {
          changeTableStatusAndIssoundrecord(res);
        });
      },
      allList: () => {
        listAll();
      },

      goSearch: _.debounce(() => {
        listAll();
      }, 1000),
      goAddIr: () => {
        router.push("/teachers/interviewRecord");
      },
      modifyId: (id) => {
        Axios.get(
          `http://111.203.59.61:8060/dev-api/sypt/interview/deleteInterviewById/${id}`
        );
      },
      deleteId: (id) => {
        let r = confirm("确定删除?");
        if (r === true) {
          Axios.delete(
            `http://111.203.59.61:8060/dev-api/sypt/interview/deleteInterviewById/${id}`
          );
          deleteSccf();
          listAll();
        }
      },
      changeCur: (pageNum) => {
        state.pageNum = pageNum;
        listAll();
      },
    };
    createTableData();
    return {
      ...toRefs(state),
      ...methods,
      createData,
      changeTableStatusAndIssoundrecord,
      createTableData,
    };
  },
};
</script>

<style lang="scss" scoped>
.loading {
  width: 100%;
  height: 100%;
  position: absolute;

  background: #fff;

  img {
    width: 50%;
    height: 65%;
    position: absolute;
    left: 30%;
    top: 30%;
  }
  .el-icon-search {
    right: 0;
  }
}
</style>
