<template>
  <div>
    <div class="loading" v-if="loading">
      <img src="../../assets/img/loading.gif" alt="" />
    </div>
    <div class="planlist" v-else>
      <breadcrumb :data="breadcrumb" />

      <div class="teacher_plan_list">
        <div class="plan">
          <div class="train_resource">
            <div class="resource_type">
              <div class="r_t_title">班级：</div>
              <div class="r_t_list">
                <span
                  :class="curIndex === -1 ? 'active' : ''"
                  @click="handleCurIndex(-1)"
                  >全部</span
                ><span
                  v-for="(item, index) in list"
                  :key="index"
                  :class="curIndex === index ? 'active' : ''"
                  @click="handleCurIndex(index)"
                  >{{ item.classname }}</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="list_detail">
          <div class="input_tab">
            <!-- 选项 -->
            <el-radio-group v-model="planType" @change="handleChange">
              <el-radio-button
                v-for="(item, index) in planList"
                :key="index"
                :label="index"
                >{{ item }}</el-radio-button
              >
            </el-radio-group>

            <div class="right_input">
              <el-button icon="el-icon-plus" type="primary" @click="addClick">
                添加计划
              </el-button>
              <el-input
                v-model="obj.searchName"
                placeholder="搜索计划/项目/任务"
                style="width: 260px"
                @change="changeVal"
                suffix-icon="el-icon-search"
              ></el-input>
            </div>
          </div>
          <!-- 表格 -->
          <div class="table_detail">
            <super-table :columns="columns" :tableData="statusList">
              <template #time="{ data }">
                <p>据结束还剩：<b>0时0分0秒</b></p>
                <p>开始：{{ data.begintime }}</p>
                <p>结束：{{ data.endtime }}</p>
              </template>
              <template #progress="{ data }">
                <div class="cell">
                  <span class="percent percent3">{{ data.progress }}%</span>
                </div>
              </template>
              <template #action="{ data }">
                <img
                  src="http://111.203.59.61:8060/static/img/watch.2cd91f7e.svg"
                  alt=""
                  @click="detail(data.classid, data.id)"
                  style="margin: 0 auto"
                />
              </template>
            </super-table>
          </div>

          <!-- 分页 -->
          <el-pagination
            layout="prev, pager, next, jumper"
            :total="total"
            :page-size="obj.pageSize"
            :current-page="obj.pageNum"
            @current-change="changeCur"
            style="text-align: right"
          >
          </el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs, onMounted } from "vue";
import { useRouter } from "vue-router";
import api from "../../api";
export default {
  setup() {
    const router = useRouter();
    const { training } = api;
    const state = reactive({
      breadcrumb: [
        { path: "/", name: "实训" },
        { path: "/teachers/planList", name: "计划" },
      ],
      columns: [
        {
          label: "班级/计划",
          prop: "className",
        },
        {
          label: "时间",
          slot: {
            body: "time",
          },
        },
        {
          label: "进度",
          slot: {
            body: "progress",
          },
        },
        {
          label: "操作",
          slot: {
            body: "action",
          },
        },
      ],
      curIndex: -1,
      list: [],
      obj: {
        classId: 0,
        searchName: "",
        ifFinished: 2,
        pageNum: 1,
        pageSize: 10,
      },
      statusList: [],
      total: 0,
      planType: 2,
      planList: ["未开始", "进行中", "已结束"],
      loading: true,
    });
    // 班级数据
    const getClassInfo = async () => {
      let res = await training.getClassInfo();
      if (res.code === 200) {
        console.log("班级数据", res);
        state.list = res.data;
        state.obj.classId = res.data.id;
        state.loading = false;
      }
    };

    // 切换班级数据
    const handleClass = async () => {
      state.curIndex === -1 ? (state.obj.classId = "") : state.curIndex;
      let res = await training.getPlanList({ ...state.obj });
      if (res.code === 200) {
        state.statusList = res.rows;
        state.total = res.total;
      }
    };

    const init = () => {
      getClassInfo();
      handleClass();
    };

    const methods = {
      // tab状态
      handleChange: () => {
        state.obj.ifFinished = state.planType;
        handleClass();
      },
      // 班级切换
      handleCurIndex: (i) => {
        state.curIndex = i;
        handleClass();
      },
      // 搜索
      changeVal: () => {
        handleClass();
      },
      // 条详情
      detail: (classid, id) => {
        router.push({
          path: "/teachers/viewPlan",
          query: {
            classid,
            id,
          },
        });
      },
      // 改变页数
      changeCur: (pageNum) => {
        state.obj.pageNum = pageNum;
        handleClass();
      },
      // 添加计划
      addClick: () => {
        router.push("/teachers/addPlan");
      },
    };

    onMounted(() => {
      init();
    });

    return {
      ...toRefs(state),
      ...methods,
    };
  },
};
</script>

<style lang="scss" scoped>
.planlist {
  width: 100%;

  .teacher_plan_list {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .plan {
    width: 1200px;
    margin: 0 auto 20px;

    .train_resource {
      width: 100%;
      padding: 30px 30px;
      box-sizing: border-box;
      background: #ffffff;

      .resource_type {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;

        .r_t_title {
          font-size: 16px;
          color: #303849;
          margin-right: 10px;
        }

        .r_t_list {
          display: flex;
          flex-wrap: wrap;

          span {
            font-size: 14px;
            color: #303849;
            padding: 4px 12px;
            display: inline-block;
            cursor: pointer;
            border-radius: 15px;
            margin-right: 10px;
          }

          .active {
            background: #679cf6;
            color: #fff;
          }
        }
      }
    }
  }

  .list_detail {
    width: 100%;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background: #ffffff;
    border-radius: 2px;

    .input_tab {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      padding-bottom: 30px;

      .right_input {
        .el-button {
          margin-right: 20px;
        }
      }
    }

    .el-radio-group {
      label:nth-child(1) span {
        border-radius: 20px 0 0 20px;
      }
      label:nth-child(3) span {
        border-radius: 0 20px 20px 0;
      }
    }

    .cell {
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      word-break: break-all;
      line-height: 23px;
      padding-left: 10px;
      padding-right: 10px;

      .percent {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        color: #ffa841;
      }
    }
  }
}
</style>
