<template>
  <div class="questionDetailBox">
    <breadcrumb :data="breadcrumb" />
    <div class="questionBox">
      <div class="questionHand">
        <div class="questionHand_left">
          <div class="questionHand_Title">
            <div style="margin-left: 30px">类型:</div>
            <div class="questionHand_div">
              <div
                v-for="(item, index) in titleList"
                :key="index"
                @click="getType(item.type, index)"
                :class="
                  typeIndex == index
                    ? 'questionHand-div active'
                    : 'questionHand-div'
                "
              >
                {{ item.title }}
              </div>
            </div>
          </div>
          <div class="questionCon">
            <div class="questionCon_hand">
              <el-checkbox
                v-model="quality"
                style="margin-right: 30px"
                @change="inputChange"
                >仅看精品</el-checkbox
              >
              <el-checkbox
                v-model="authentication"
                style="margin-right: 20px"
                @change="authenticationChange"
                >仅看教师认证答案</el-checkbox
              >
              <div class="searchBox">
                <input
                  type="text"
                  class="questionCon_hand_input"
                  v-model="searchVal"
                  placeholder="搜索问题"
                />
                <i class="el-icon-search" @click="searchChange"></i>
              </div>
            </div>
            <div class="questionCon_main">
              <div class="questionCon_main_con">
                <div
                  class="questionCon_main_com_item"
                  v-for="item in questionList"
                  :key="item.answerId"
                >
                  <div class="item_head">
                    <div class="questionName">{{ item.qUserName }}</div>
                    <div class="replyTime">{{ item.replyTime }}</div>
                    <div class="typeNum">
                      实训类型：<span>{{ typeList[item.typeNum] }}</span>
                    </div>
                    <div class="el-icon-s-comment"></div>
                    <div class="answerCount">{{ item.answerCount }}</div>
                  </div>
                  <div class="item_main">
                    <div class="item_main_left">
                      <div class="item_main_left_div">
                        <div v-if="item.quality">
                          <img
                            src="http://111.203.59.61:8060/static/img/boutique.fc46be52.svg"
                            alt=""
                          />
                        </div>
                        <div v-if="item.authentication">
                          <img
                            src="http://111.203.59.61:8060/static/img/authentication.c814dd7c.svg"
                            alt=""
                          />
                        </div>
                        <div class="questionContent">
                          {{ item.questionContent }}
                        </div>
                      </div>
                      <div class="questionTitle">{{ item.questionTitle }}</div>
                      <div class="questionLabels">
                        <span
                          v-for="(value, index) in item.labels"
                          :key="index"
                          >{{ value }}</span
                        >
                      </div>
                    </div>
                    <div class="item_main_right">
                      <div class="lookAll">
                        <span>查看全部</span>
                        <span class="el-icon-arrow-down"></span>
                      </div>
                      <button
                        class="answerBtn"
                        @click="handelBtn(item.answerId)"
                      >
                        回答
                      </button>
                    </div>
                  </div>
                </div>
                <div
                  class="questionListMessage"
                  v-if="questionList.length == 0"
                >
                  暂无数据
                </div>
              </div>
              <div class="block">
                <el-pagination
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :page-size="10"
                  layout="prev, pager, next, jumper"
                  :total="total"
                >
                </el-pagination>
              </div>
            </div>
          </div>
        </div>
        <div class="questionHand_right">
          <button class="questionBtn" @click="handleBtnChange">我要提问</button>
          <div class="answerBox">
            <div class="answerBox_title">
              <i></i>
              <b>我的回答</b>
            </div>
            <div class="answerBox_img">
              <img
                src="https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg"
                alt=""
              />
              <span>黄辉</span>
            </div>
            <div class="answer_con">
              <div class="questionDiv">
                <div class="questionDiv_title">问</div>
                <div class="questionDiv_con">
                  提了<span>{{ answerList.numberQuestions }}</span
                  >个问题，<span>{{ answerList.numberReplies }} </span
                  >人进行了回答
                </div>
              </div>
              <div class="answerDiv">
                <div class="answerDiv_title">答</div>
                <div class="answerDiv_con">
                  回答了<span>{{ answerList.replyCount }}</span
                  >个问题
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="elDialogBox" v-if="isDialog">
      <div class="elDialogDiv">
        <div class="elDialog_header">
          <b>提问</b><span @click="closeElDialog">X</span>
        </div>
        <div class="elDialog_main">
          <p class="main_title">标题</p>
          <div class="elDialog_title">
            <input
              type="text"
              placeholder="请输入问题名称"
              class="inputTitle"
            />
            <div class="selectBox">
              <el-select v-model="selectTypeValue" placeholder="请选择">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                  @click="getTypeList"
                >
                </el-option>
              </el-select>
              <div v-if="selectTypeValue === ''" class="selectItemBox">
                <el-select placeholder="请选择项目">
                  <el-option>无数据</el-option>
                </el-select>
                <el-select placeholder="请选择任务">
                  <el-option>无数据</el-option>
                </el-select>
              </div>
              <div v-if="selectTypeValue === '选项1'">
                <el-select v-model="selectItemValue" placeholder="请选择项目">
                  <el-option
                    v-for="(item, index) in selectItemList"
                    :key="index"
                    :value="item.value"
                  >
                    <span v-if="item.name === null">
                      {{ item.value }}
                    </span>
                    <span>{{ item.name }}</span>
                  </el-option>
                </el-select>
                <el-select v-model="selectTaskValue" placeholder="请选择任务">
                  <el-option>无数据</el-option>
                </el-select>
              </div>
              <div v-if="selectTypeValue === '选项2'" class="inputCompanyBox">
                <el-input v-model="inputCompanyValue" placeholder="公司">
                </el-input>
                <el-input v-model="inputPostValue" placeholder="岗位">
                </el-input>
              </div>
              <el-input
                v-model="inputPostValue"
                placeholder="工作详情"
                v-if="selectTypeValue === '选项3'"
                class="inputWork"
              >
              </el-input>
              <el-input
                v-model="inputPostValue"
                placeholder="其他"
                v-if="selectTypeValue === '选项4'"
                class="inputOther"
              >
              </el-input>
            </div>
            <div class="quillBox">
              <p class="quillBox_title">描述</p>
              <div class="editorBox">
                <Editor @hendleEditor="hendleEditor">
                  <div class="quillTitle">
                    <p class="quillTitle_p">标签</p>
                    <input
                      type="text"
                      class="quillInput"
                      placeholder="最多可添加五个标签，回车添加标签"
                    />
                  </div>
                  <div class="quillButtom">
                    <button class="publishBtn" @click="publishChange">
                      发布
                    </button>
                  </div>
                </Editor>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/questionDetail.css";
import api from "@/api/index.js";
import { reactive, toRefs } from "vue";
import { useRouter } from "vue-router";
import Editor from "@/components/Editor.vue";
const { questionDetail } = api;
export default {
  components: {
    Editor,
  },
  setup() {
    const state = reactive({
      quality: false,
      authentication: false,
      type: "",
      typeIndex: 0,
      searchVal: "",
      //分页参数
      total: 0, //总条数
      pageNum: 1, //当前页数
      pageSize: 10, //每页显示的条数
      questionList: [],
      answerList: 0,
      dialogVisible: true,
      isDialog: false,
      selectTypeValue: "",
      selectItemValue: "",
      selectTaskValue: "",
      inputCompanyValue: "",
      inputPostValue: "",
      selectItemList: [],
      questionValue: "",
      breadcrumb: [
        { path: "/", name: "问答" },
        { path: "/teachers/questionDetail", name: "问答列表" },
      ],
      //类型数据
      titleList: [
        {
          title: "全部",
          type: null,
        },
        {
          title: "实训",
          type: 0,
        },
        {
          title: "答辩",
          type: 4,
        },
        {
          title: "面试",
          type: 1,
        },
        {
          title: "工作",
          type: 2,
        },
        {
          title: "其他",
          type: 3,
        },
      ],
      typeList: ["实训", "面试", "工作", "其他", "答辩"],
      labelsList: [],
      //下拉框选项
      options: [
        {
          value: "选项1",
          label: "实训",
        },
        {
          value: "选项2",
          label: "面试",
        },
        {
          value: "选项3",
          label: "工作",
        },
        {
          value: "选项4",
          label: "其它",
        },
      ],
    });
    //参数
    const obj = {
      pageNum: state.pageNum,
      pageSize: state.pageSize,
      isAsc: "desc",
      quality: state.quality,
      authentication: state.authentication,
      type: state.type,
      questionTitle: state.searchVal,
    };
    //回答信息
    const getReply = () => {
      questionDetail.reply().then((res) => {
        state.answerList = res.data;
      });
    };
    //列表数据
    const getQuestionDetailList = (obj) => {
      questionDetail.getList(obj).then((res) => {
        state.questionList = res.rows;
        state.total = res.total;
      });
    };
    //点击箭头,改变页数
    const handleCurrentChange = (val) => {
      const obj1 = {
        ...obj,
        pageNum: val,
      };
      getQuestionDetailList(obj1);
    };
    //点击类型
    const getType = (type, index) => {
      const obj2 = {
        ...obj,
        type,
      };
      state.typeIndex = index;
      getQuestionDetailList(obj2);
    };
    //点击精品
    const inputChange = () => {
      let newQuality = state.quality + 0;
      let newAuthentication = state.authentication + 0;
      const obj3 = {
        ...obj,
        quality: newQuality,
        authentication: newAuthentication,
      };
      getQuestionDetailList(obj3);
    };
    //点击仅看讲师认证
    const authenticationChange = () => {
      let newQuality = state.quality + 0;
      let newAuthentication = state.authentication + 0;
      const obj4 = {
        ...obj,
        quality: newQuality,
        authentication: newAuthentication,
      };
      getQuestionDetailList(obj4);
    };
    //搜索
    const searchChange = () => {
      const obj5 = {
        ...obj,
        questionTitle: state.searchVal,
      };
      getQuestionDetailList(obj5);
      state.searchVal = "";
    };
    let router = useRouter();
    //跳转回答详情
    const handelBtn = (answerId) => {
      router.push({
        path: "answerDetail",
        query: {
          answerId,
        },
      });
    };
    //点击我要提问按钮
    const handleBtnChange = () => {
      state.isDialog = true;
    };
    const closeElDialog = () => {
      state.isDialog = false;
    };
    //选择实训 获取实训列表内容
    const getTypeList = () => {
      questionDetail.getTypeList().then((res) => {
        state.selectItemList = res.data;
        console.log(res);
        console.log(state.selectItemList);
      });
    };
    const hendleEditor = (questionValue) => {
      state.questionValue = questionValue;
      console.log(questionValue);
    };
    //点击发布
    const publishChange = () => {
      console.log("111");
    };
    //初始化
    const init = () => {
      getReply();
      getQuestionDetailList(obj);
    };
    init();
    return {
      ...toRefs(state),
      handleCurrentChange,
      getType,
      inputChange,
      authenticationChange,
      searchChange,
      handelBtn,
      handleBtnChange,
      hendleEditor,
      getTypeList,
      closeElDialog,
      publishChange,
    };
  },
};
</script>

<style></style>
